<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jakobsuell.spotd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LostMyPetActivity"
            android:label="@string/title_activity_lost_my_pet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoundAPet"
            android:label="@string/title_activity_found_apet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MyPets_Activity"></activity>
    </application>
//test
</manifest>